<!--The content below is only a placeholder and can be replaced.-->
<div class="row header">
    <div class="padding-6">
      <div class="link"><i class="fa fa-times" aria-hidden="true"></i><span class="status-label">Close</span></div>
    </div>
    <div class="padding-6 margin-l-5">
      <div class="link"><div class="status-circle">UP</div><span class="center-text status-label">STATUS</span></div>
    </div>
    <div class="padding-6 width-80 margin-l-20">
      <div class="link"><span>CSK</span><span class="font-12">SECONDARY INFO: <b>2 DAYS 12 HOURS</b></span></div>
    </div>
    <div class="padding-6 center-text">
      <div class="link"><i class="fa fa-globe" aria-hidden="true"></i><span class="status-label">New Tab</span></div>
    </div>
</div>
<div class="row">
  <div class="col-md-12" align="center"></div>
    <!-- <form class="form-inline">
      <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd"></label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form> -->
</div>
<router-outlet></router-outlet>
